<!--The content below is only a placeholder and can be replaced.-->

<main fxLayout="column">
  <header>
    <mat-toolbar class="mat-elevation-z6">
      <span class="title">DREAM Inventory Management Solutions</span>
      <span class="spacer"></span>
      <nav>
        <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a [routerLink]="['/product']" routerLinkActive="active">Products</a>
        <a [routerLink]="['/product/add']" routerLinkActive="active">Add Product</a>
        <a [routerLink]="['/hotdeals']" routerLinkActive="active">Sale</a>
      </nav>
      <span class="spacer"></span>
      <button mat-raised-button>Login</button>
    </mat-toolbar>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
