<div class="viewer" fxLayout="column" fxLayoutGap=30px>
  <div class="view-wrapper">
    <div class="viewer-title">
      <h3><i>Awesome - Your dream's come true !!</i></h3>
    </div>
    <div class="viwer-body" fxLayout="row">
      <img fxFlex=50 src="../../assets/images/wood-3157395_640.jpg" alt="Photo of a Shiba Inu">
      <div fxFlex=50 class="viewer-section">
        <div fxLayout="column" fxLayoutGap='20px'>
          <span fxLayout="column" style="color: #01b3e4;">
            <p fxLayoutAlign="center" style="margin: auto;">Developed By: </p>
            <p style="margin: auto;">@Raghu Chagarlamudi</p>
          </span>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <a class="social" target="_blank" href="https://github.com/Raghu-Ch">Github</a>
            <a class="social" target="_blank" href="https://twitter.com/ng_raghuch?lang=en">Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="note" class="view-wrapper">
    <p><strong>Note: For login - Please use user name as 'Admin' and use any password</strong></p>
  </div>
</div>
