<div class="viewer" fxLayout="column">
  <div class="view-wrapper">
    <div class="viewer-title">
      <h3><i>Awesome - Your dream's come true !!</i></h3>
    </div>
    <div class="viwer-body" fxLayout="row">
      <img fxFlex=50 src="../../assets/images/wood-3157395_640.jpg" alt="Photo of a Shiba Inu">
      <div fxFlex=50 class="viewer-section">
        <span>
          Developed By: @Raghu Chagarlamudi
          <div class="social" fxLayout="row">
            <mat-icon class="viewer-section" fxFlex=50>code</mat-icon>
            <mat-icon class="viewer-section" fxFlex=50>code</mat-icon>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
